  <section class="ui card" id='<%= dimmable ? "avatar-section" : nil %>'>
    <% if dimmable %>
      <div class="blurring image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <label for='user_avatar' class='ui icon button'>
                  <i class='camera icon'></i>
              </label>
            </div>
          </div>
        </div>
        <%= image_tag "#{user.avatar.url}", alt:"Avatar của bạn", id: 'user-avatar-preview'%>
      </div>
    <% else %>
      <div class='image'>
        <%= image_tag "#{user.avatar.url}", alt:"Avatar của bạn"%>
      </div>
    <% end %>
    <div class="content">
      <a class="header"><%= user.name %></a>
      <div class="meta">
        <span class="date">Tham gia <%=  I18n.l user.created_at.to_time.in_time_zone('Hanoi'), format: :long %></span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="gamepad icon"></i>
        <%= user.games.count %> game | 
      </a>
      <a>
        <i class="file icon"></i>
        <%= user.articles.count %> bài viết
      </a>
    </div>
  </section>