<div class='centered row'>
  <div class="ui container grid">
    <% games.each do |game| %>
      <div class="one column mobile only column"></div>
      <div class='four wide computer eight wide tablet sixteen wide mobile column'>
        <div class='ui centered grid'>
          <div class='ui card fifteen wide mobile column'>
            <div class='image'>
              <%= image_tag "#{game.image.thumb.url}", alt: "Không tìm thấy tình ảnh"%>
            </div>
            <div class='content'>
              <%= link_to game_path(game), class:'header' do %>
                <%= game.name %>
              <% end %>
              <div class='meta'>
                <span class="price"><%= number_to_currency(game.price , unit: " VND", format: "%n%u", precision: 3, delimiter: '.') %></span>
              </div>
              <div class="meta">
                <span class="date">cập nhật lần cuối: <%= distance_of_time_in_words(Time.now, game.updated_at) %></span>
              </div>
              <div class="description">
                <%= game.description&.truncate(120) %>
              </div>
              <h5 class="ui horizontal divider">
                Tags
              </h5>
              <div class="extra content">
                <% game.tags.each do |tag| %>
                  <%= form_with(:url => ((defined? found_user) ? user_path(found_user.id) : games_path), method: :get, class:'column', html:{style: 'display:none', id: "find_by_tag_form_#{tag.id}"}) do |form|%>
                    <input name="filters[tag_ids][]" type="hidden" value="" />
                    <%= form.hidden_field "filters[tag_ids][]",id: "filter#{tag.id}" ,value: tag.id%>
                  <% end %>
                  <%= label_tag tag.content, tag.content, class: 'ui tiny teal label find_by_tag_label', data:{tag_id: tag.id}, style: "margin-bottom:4px;"%>
                <% end %>
              </div>
            </div>
          </div>
          <div class='row'></div>
        </div>
      </div>
    <% end %>
  </div>
</div>