<% content_for(:title, "Bookings - boardgame.cf")%>
<div class='ui centered container grid row'></div>
<div class='ui centered container padded grid segment row'>
  <% if @order.approved %>
    <%= image_tag @qrcode, class:'ui large image' %>
    <div class=row>
      <h1 class='ubuntu'>Booking này đã được phê duyệt bởi <%= link_to @order.game.user.name , user_path(@order.game.user.id) %></h1>
    </div>
    <div class="ui middle aligned ubuntu row">
        Bạn có thể  <%= link_to "tải xuống" ,@qrcode, download:"booking_#{@order.id}"%> mã QR này để xác nhận khi cần
    </div>

  <% else %>
    <h1 class='ubuntu'>Booking này chưa được phê duyệt</h1>
    <div class='row'>
      <p class='ubuntu'>Chúng tôi sẽ thông báo trên trang chủ khi có thay đổi xảy ra<p>
    </div>
    <div class='row'>
      <p class=''>Cảm ơn bạn, quay trở lại sau nhé!</p>
    </div>
    <div class='row'>
      <%= link_to 'Quay lại', root_path %>
    </div>
  <% end %>
  
</div>
<div class="ui container grid row">
  <div class='ui horizontal divider column'>BOARDGAME.CF</div>
</div>
<% if @found_by_guid || can?(:see_details, @order) %>
  <div class="ui container centered divided grid row">
    <div class='six wide computer ten wide tablet fourteen wide mobile column'>
      <section class='ui segment'>
        <div class='ui list'>
          <div class='item'>
            <strong>Tên: </strong><%= @order.name %>
          </div>
          <div class='item'>
            <strong>Địa chỉ: </strong><%= @order.address %>
          </div>
          <div class='item'>
            <strong>Phone: </strong><%= link_to @order.phone, "tel://#{@order.phone}" %>
          </div>
          <div class='item'>
            <strong>Game: </strong><%= @order.game.name %>
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>