<div class="summary">
    <%= link_to "#{is_you?(post.user) ? "bạn" : post.user.name}", user_path(post.user.id) , class: 'user' %>
    <strong> đã chia sẻ một</strong> <%= link_to translated_sharable(post.sharable), sharable_url_for(post.sharable)%>
    <div class="date">
        <%= distance_of_time_in_words(Time.now, post.created_at)%>
    </div>
</div>
<% if post.sharable.is_a? Game %>
    <div class="extra">
        <div class='row'>
            <% post.sharable.tags.each do |tag| %>
                <div class='ui small label'><%= tag.content %></div>
            <% end %>
        </div>
    </div>
    <div class="extra text">
        <h1><%= post.sharable.name %></h1>
    </div>
<% else %>
    <div class='extra text'>
        <h2><%= link_to "#{post.sharable.title}", article_path(post.sharable) %></h2>
    </div>
<% end %>
<div class="extra">
    <div class='centered grid'>
        <div class=' ten wide column'>
            <% if post.sharable.is_a? Game then %>
                <%= link_to post_path(post.id) do%>
                    <%= image_tag "#{post.sharable.image.url}", class: "ui rounded fluid image"%>
                <% end %>
            <% end %> 
        </div>
    </div>
</div>
<% if post.sharable.is_a? Game %>
    <div class='extra text'>
        <%= post.sharable.description.truncate(350) %>
    </div>
    <div class='extra text'>
        <h2><%= number_to_currency(post.sharable.price , unit: " VND", format: "%n%u", precision: 3, delimiter: '.') %></h2>
    </div>
<% end %>
<div class="extra text">
    <% if post.sharable.is_a? Article then %>
        <%= post.sharable.content.truncate(50) %>
    <% else %>
        <%= post.content %>
    <% end %>
</div>
<div class='meta'>
    <%= link_to like_post_path(post.id),method: :post, remote: true, class: 'like' do %>
        <i id='<%= "heart_#{post.id}"%>' class='heart icon <%= post.liked_by?(current_user) ? "liked" : nil%>'></i>
            Thích <span id="post_like_<%= post.id %>">(<%= post.likers(User).count %>)</span>
    <% end if can? :like, post%>
    <%= link_to post_path(post), class: 'like' do %>
        <i class='comment icon'></i>
            Bình luận(<%= post.replies.count %>)
    <% end %>
    <%= (link_to "Delete" , post_path(post) , method: :delete) if can? :destroy, post %>
</div>